/* .App {
  text-align: center;
} */
 canvas {
  /* position: relative; */
  background-color: aquamarine;
  

} 
/* .App {
  padding: 20px;
  height: 200px;
  width: 250px;
  background-color:burlywood ;
}  */