/* @import url('https://fonts.googleapis.com/css?family=Lato:400,700'); */
/* $transition: all 0.25s ease-in-out; */

.ElementClass {
    margin: 10px;
    padding: 12px;
    text-align:center;
    background-color: rgba(218, 205, 205, 0.575);
    border: solid 2px black;
    display: inline-block;
    box-shadow: 0 2px 4px 0 #888888;
    transition: all 0.25s ease-in-out;
    border-radius:7px ;
}
.ElementClass:hover {
    opacity: 0.3;
    cursor: pointer;

}