#homeLink {
    margin: auto 30px;
    font-size: 22px;
    font-family: cursive;
    color: whitesmoke;
    background-color: crimson;
}

#profileDiv {
    background-image: url('../resources/images/profile.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#avatar {
    margin: auto 20px;
    height: 40px;
    width: 40px;
    background-color:rgba(205, 134, 63, 0.582);

}

#home {
    background-color:rgba(211, 211, 211, 0.116);
    width: 98%;
    margin:10px 15px 10px 15px;
    border-radius: 20px;
}

#homeHeader {
    margin: auto;
    font-family:serif;
    font-size: 30px;
    color: whitesmoke;
}

#homeLink {
    margin: auto 30px;
    font-size: 22px;
    font-family: cursive;
    color: whitesmoke;
}

#P {
    background-color: rgba(211, 211, 211, 0.363);
    height: 87%;
    width: 98%;
    margin:10px 15px 15px 15px;
    border-radius: 20px;
    /* display: flex;
    flex-direction: row; */
}

#backButton {
    background-color: rgba(119, 136, 153, 0.74);
    height: 40px;
    margin:  3px 2px 3px 3px;
    border-radius: 50px;
    width: 70px;
    background-color:rgba(205, 134, 63, 0.356);


}

#backButton:hover {
    opacity: 0.3;
    cursor: pointer;
}

#goBack {
    margin: auto 3px;
    margin-top: 10px;
    color: whitesmoke;
}

#options{
    background-color: rgba(255, 255, 224, 0.445);
    margin: 10px;
    width: 20%;
    display: inline-block;
    border-radius: 15px;
    height: 97%;
    height: fit-content;
}

#content {
    background-color:rgba(255, 255, 224, 0.295);
    margin: 10px;
    width: 77%;
    display: inline-block;
    border-radius: 15px;
    height: 97%;
    
}
#enclosedDiv {
    /* background-color: lime; */
    height: 100%;
    border-radius: 20px;
}

.OptionDiv {
    background-color: rgba(10, 109, 175, 0.459);
    border-radius: 15px;
    width: 97%;
    margin: 2%;
    height: 100px;
}

.OptionDiv:hover {
    opacity: 0.3;
    cursor: pointer;
}
.OptionList {
    margin: auto;
    width: fit-content;
    padding: 10%;
    font-style: italic;
    font-family: cursive;
    font-size: large;
    color: rgba(250, 240, 230, 0.856);
}

 #profileContent {
     /* background-color: orange; */
     border-radius: 15px;
     width: 50%;
     height: 100%;
     margin: auto;
 }

 #avatar1 {
     height: 100%;
     width: 50%;
     margin: auto;
     margin-top: 10px;
     font-size: 80px;
     background-color:rgba(205, 134, 63, 0.582);
 }

 #avatarDiv {
     height: 50%;
     /* background-color:orangered; */
     width: 100%;
 }

 #nameUnderAvatar {
     background-color: rgba(226, 220, 214, 0.384);
     margin: 30px auto;
     width: 50%;
     height: 50px;
     border-radius: 15px;
     border: 2px solid rgba(245, 245, 245, 0.623)
    
 }

 #nameUnderAvatarText {
     margin: auto;
     width:fit-content;
     /* background-color: pink; */
     padding: 15px;
     font-size: large;
     font-family: cursive;
     color: rgba(205, 134, 63, 0.808);
 }

 #personalInfoDiv {
     /* background-color: violet; */
     width: 90%;
     margin: auto;
     border-radius: 15px;
     height: 70%;
 }

 .personalInfo {
     margin: 15px;
     /* background-color: turquoise; */
     height: 50px;
     border-radius: 15px;
 }

 .personalInfoText {
     background-color:rgba(205, 134, 63, 0.808);
     width: 200px;
     padding: 10px;
     margin: 2px 2px 2px 50px;
     color: rgba(245, 245, 245, 0.747);
     font-family: cursive;
     font-size: large;
     border-radius: 15px;
     border: solid 2px rgba(0, 0, 0, 0.479);
     
 }

 .personalInfoTextValue {
    background-color:rgba(205, 134, 63, 0.808);
    width: 600px;
    padding: 10px;
    margin: 2px 2px 2px 50px;
    color: rgba(245, 245, 245, 0.747);
    font-family: cursive;
    font-size: large;
    border-radius: 15px;
    border: solid 2px rgba(0, 0, 0, 0.479);
    
}
 .personalInfoHeading{
    margin: 15px;
    height: 50px;
    border-radius: 15px;
    /* background-color: turquoise; */
 }

 .personalInfoHeadingText {
    width: 250px;
    padding: 10px;
    margin: 2px 2px 2px 50px;
    color:#3f7b9c;
    font-family: cursive;
    font-size: x-large;
    border-radius: 15px;
    font-style: bold;
 }