#progressHeader {
    margin: auto;
    font-family:serif;
    font-size: 25px;
    color: black;
}
#MP{
    background-color:rgba(228, 221, 221, 0.836);
    height: 100%;
    width: 100%;
    background-image: url('../resources/images/white.jpg') ;
    background-repeat: no-repeat;
    background-size: cover;
}

#myProgressBar {
    background-color:rgba(128, 128, 128, 0.315);
    width: 98%;
    margin:10px 15px 10px 15px;
    border-radius: 20px;
}
#progressContent {
    height: inherit;
}

#progressInfo {
    width: 30%;

}

#avatarAndDetails {
    height:25%;
    margin-top: 10%;
}

#progressAvatar {
    margin: auto;
    height: 60%; 
    width: 30%;
}

#progressName {
    color: #550867; 
    margin:auto; 
    /* font-family: fantasy; */
    font-family: cursive;
}

.PointsAndRank {
    color: #b022d2; 
    margin: 10% auto 5% auto; 
    /* font-family: fantasy; */
    font-family:cursive;
}
#rank {
    margin: 5% auto 10% auto;
}

#progressButton1 {
    width: 80%; 
    height: 50px; 
    background-color: lightcoral;
    color:#e4b8b8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    
}
#progressButton2 {
    width: 80%; 
    height: 50px; 
    background-color: lightcoral;
    color:#e4b8b8;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}
#progressBarAndLeaderboard{
    width:100%;
}

#progressContent-BarsDiv {
    width: 50%;
}

#stepper1 {
    position: relative; 
    background: white; 
    width: 70%; 
    /* margin: 2%; */
    /* top: 10%; */
    margin-left: 10%;
    /* background-color: aqua; */

}

#stepper2 {
    position: relative; 
    background: white; 
    width: 70%; 
    /* margin: 1%; */
    /* top: 10%; */
    margin-left: 10%;
    /* background-color: aqua; */

}

#stepper3 {
    position: relative; 
    background: white; 
    width: 70%; 
    /* margin: 2%; */
    /* top: 10%; */
    margin-left: 10%;
    /* background-color: aqua; */
    border-radius: 15px;
}

.circularBarDiv {
    width: 150px;
    height: 150px;
    margin: 7% auto 3% auto;
}

.CategoryNames {
    margin-left: 10%;
    font-family:serif;
    width: fit-content;
    color: black;
}

.LevelNames{
    margin-left:25%;
    font-family:serif;
    width: min-content;
    margin: 15% auto 13% auto;
}

.LeaderBoard {
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
}
#progressLogout {
    width: fit-content;
    margin: 12% auto;
    color: rgba(255, 248, 220, 0.74);
}