body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: sans-serif;
}

html,body{
 
  min-height: 100%;
}

#root{
  height: 811px;
  background-color:rgba(12, 7, 7, 0.384);
  display: flex;
}
